In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('cleaned_data/customer_data_cleaned.csv')
df.head()

   credit_score  age    balance  estimated_salary  country  gender  tenure
0         619.0   42  93101.008          11348.88        3       1       2
1          68.0   41   8387.860         112542.58        2       1       1
2          52.0   42  15966.800         113931.57        3       1       8
3         699.0   39  38038.282          93826.63        3       1       1
4          85.0   42  12551.820           7984.10        2       1       2

In [12]:
# initialize setup
from pycaret.regression import *
from sklearn.metrics import median_absolute_error
#s = setup(df, target = 'credit_score', transform_target = True, log_experiment = True, experiment_name = 'diamond')
s = setup(df, target = 'credit_score', transform_target = True)

In [13]:


# 2 Compare models  using default metric (say, MAE or R)
models = compare_models(n_select=10)  # select top 10 models for example

# 3 Evaluate using MedAE manually
results = []

for model in models:
    predictions = predict_model(model)
    medae = median_absolute_error(predictions['credit_score'], predictions['prediction_label'])
    results.append((model, medae))

#results

# # 4 Sort and display
# results.sort(key=lambda x: x[1])  # lower MedAE is better

# for rank, (model, medae) in enumerate(results, start=1):
#     print(f"{rank}. {model}  Median Absolute Error = {medae:.4f}")

In [14]:
# Create DataFrame
df = pd.DataFrame(results, columns=['Model', 'Score'])

# If you want to display model names as strings instead of objects:
df['Model'] = df['Model'].apply(lambda x: x.__class__.__name__)

# Sort DataFrame by Score (ascending  lower score is better)
df_sorted = df.sort_values(by='Score', ascending=True).reset_index(drop=True)

# Add a Rank column
df_sorted['Rank'] = df_sorted['Score'].rank(method='min', ascending=True).astype(int)
df_sorted

                       Model       Score  Rank
0             DummyRegressor  130.976318     1
1  GradientBoostingRegressor  135.774245     2
2      RandomForestRegressor  136.845594     3
3        ExtraTreesRegressor  138.256992     4
4        KNeighborsRegressor  143.706497     5
5             HuberRegressor  144.558902     6
6              LGBMRegressor  145.398646     7
7               XGBRegressor  146.446014     8
8          AdaBoostRegressor  163.611345     9
9      DecisionTreeRegressor  166.500007    10

In [19]:
# check feature importance
#plot_model(models, plot = 'feature')